.container{
    display: flex;
    flex-direction: row wrap;
    gap: 2em;
    justify-content: flex-start;
    height: auto;
    .sticky{
        position: fixed;
        margin-left:50vw
    }
}
.sticky{
    position: fixed;
    // margin-left:68vw
}