<mat-toolbar color="primary">
  <span>Fri3d Schedule map</span>
  <span class="example-spacer"></span>
  <div class="actions">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-slide-toggle
          [checked]="showUpcomingEvents"
          (toggleChange)="onChangeUpcomingEvents()"
          (click)="$event.stopPropagation()"
          >Show upcoming events</mat-slide-toggle
        >
      </button>
      <button mat-menu-item>
        <mat-slide-toggle
          [checked]="showMap"
          (toggleChange)="onShowMap()"
          (click)="$event.stopPropagation()"
        >
          Show map
        </mat-slide-toggle>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="column">
      <fri3d-schedule-map-schedule-list
        [showUpcomingEvents]="showUpcomingEvents"
        (openRoomEvent)="onShowRoom($event)"
      ></fri3d-schedule-map-schedule-list>
    </div>
    <div class="column" *ngIf="showMap">
      <mat-card class="sticky">
        <fri3d-schedule-map-map
          [selectedRoom]="selectedRoom"
        ></fri3d-schedule-map-map
      ></mat-card>
    </div>
  </div>

  <!-- <fri3d-schedule-map-schedule></fri3d-schedule-map-schedule> -->
</div>
