<mat-toolbar color="primary">
  <span>Fri3d Schedule map</span>
  <span class="example-spacer"></span>
  <div class="actions">
    <mat-slide-toggle
      [checked]="showUpcomingEvents"
      (toggleChange)="onChangeUpcomingEvents()"
      >Show upcoming events</mat-slide-toggle
    >
  </div>
</mat-toolbar>
<div class="container">
  <mat-card class="sticky">
    <fri3d-schedule-map-map
      [selectedRoom]="selectedRoom"
    ></fri3d-schedule-map-map
  ></mat-card>
  <!-- <fri3d-schedule-map-schedule></fri3d-schedule-map-schedule> -->
  <fri3d-schedule-map-schedule-list
    [showUpcomingEvents]="showUpcomingEvents"
    (openRoomEvent)="onShowRoom($event)"
  ></fri3d-schedule-map-schedule-list>
</div>
